body {
  background-color: #363636;
}
h1 {
  color: #fff;
}
li {
  list-style-type: none;
}
.clr-item {
  width: 75px;
  height: 75px;
  border: solid 1px #f4f4f4;
}
.selection li {
  display: inline-block;
}
.mix {
  width: 475px;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #ddd;
  border-color: #eee;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.highlight {
  -webkit-transition: 200ms ease;
  border: solid 8px red;
}
