@grey: #363636;
@white: #fff;
body{ 
	background-color: @grey;
}

h1{
	color: @white;
}

.container{
	// background-color: @xxx;
}

li{
	list-style-type: none;
}

.clr-item{
	width: 75px;
	height: 75px;
	display: inline-block;
	border: solid 1px #f4f4f4;
}

.selection{
	li{
		display: inline;
	}
}