<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>COLR MIXR</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- styles-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <link rel="stylesheet" href="./css/remodal.css">
    <link rel="stylesheet" href="./css/remodal-default-theme.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
  <div ng-app="app" id="app">

      <div class="container" ng-controller="mixer" >

          <a href="#modalx" id="mod">Modal №1</a>
        <!-- <div class="remodal-bg">
          <h1>Remodal</h1>
          <p>
            Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin
            with declarative configuration and hash tracking.
          </p>
        </div> -->


        <div class="remodal" data-remodal-id="modalx" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
          <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
          <div>
            <h2 id="modal1Title">Remodal</h2>
            <p id="modal1Desc">
              <!-- <li ng-repeat="clr in computedcolours"></li> -->
              <div class="clr-item mix full-width repeated" update-colour cell-name="mix"></div>
            </p>
          </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
        </div>

<!--         <modal-dialog show='myData.modalShown' width='500px' dialog-title='Modal Dialog Title' on-close='logClose()'>
          <p>This is some html content</p>
          <p>
            <label for='hello'>Hello:</label>
            <input type='text' name='hello' ng-model='myData.hello' />
          </p>
          <p>
            <label for='foo'>Foo:</label>
            <input type='text' name='foo' ng-model='myData.foo' />

              <set-colour rgb>
                <div class="clr-item"><div class="clr-item-2">clr name</div></div>
              </set-colour>
          </p>
          <img src='http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg' width='300px'/>
        </modal-dialog> -->
        
        <!-- <button ng-click='toggleModal()'>Toggle Modal</button> -->

        <div class="row">
          <div class="twelve columns align-center selection">

          <br>
          show{{modalData.cunt}}

          <h3>Mix <span class="white larger-text">{{numberOfColours}}</span> colours to match the colour below</h3>
          <ul>
            <li ng-repeat="clr in colours">
              <set-colour rgb="{{clr}}" ng-click="addColour(clr)">
                <div class="clr-item" ng-class="{'highlight': clr.isSelected}">{{clr.name}}</div>
              </set-colour>
            </li>
          </ul>

          <h3>Selected</h3>
          <ul class="clr-list">
            <li ng-repeat="clr in selectedColours" class="repeated">
              <set-colour rgb="{{clr}}">
                <div class="clr-item">{{clr.name}}</div>
              </set-colour>
            </li>
          </ul>

          <h3>Mixed output</h3>
          <div class="clr-item mix full-width repeated" update-colour cell-name="mix"></div>
          <div ng-if="isRoundComplete()" class="result">
            <h3 ng-if="isCorrect()">Correct</h3>
            <h3 ng-if="!isCorrect()">Wrong</h3>
              <ul class="clr-list">
                <li ng-repeat="clr in generatedColours" class="repeated">
                  <set-colour rgb="{{clr}}">
                    <div class="clr-item">{{clr.name}}</div>
                  </set-colour>
                </li>
              </ul>
          </div>

          <h3>Goal colour</h3>
          <div class="clr-item full-width" update-colour cell-name="goal">&nbsp;</div>
          <button ng-click="initBoard()" class="full-width button-text">reset</button>

          </div>
        </div>

      </div>
    </div>

    <!-- scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>

    <!--<script src="./js/snabbt.min.js"></script>-->
    <script src="./js/remodal.js"></script>

    <!--
    <script src="bower_components/lodash/lodash.js"></script>
    -->
    <script src="./js/bundled.js"></script>
  </body>
</html>