<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>COLR MIXR</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- styles-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
  <div ng-app="app" id="app">

      <div class="container remodal-bg" ng-controller="mixer" >
      <!-- <a class="show_button" href="#modal">Show</a> -->
        <div class="remodal" data-remodal-id="end-of-round" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" data-remodal-options="closeOnOutsideClick: false, closeOnEscape: false">
          <!-- <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button> -->

          <div class="result">

            <h3 ng-if="isCorrect()">Correct, you scored {{getCurrentScore()}}</h3>
            <h3 ng-if="!isCorrect()">Wrong, you scored {{getCurrentScore()}}</h3>

            <h3>You selected:</h3>
            <ul class="clr-list">
              <li ng-repeat="clr in selectedColours" class="repeated">
                <set-colour rgb="{{clr}}">
                  <div class="clr-item">
                    <!--<span>{{clr.name}}</span>-->
                  </div>
                </set-colour>
              </li>
            </ul>
            <h3>and got:</h3>
            <div class="clr-item mix width-45 repeated" update-colour cell-name="mix"></div>

            <h3>Answer:</h3>
            <ul class="clr-list">
              <li ng-repeat="clr in generatedColours" class="repeated">
                <set-colour rgb="{{clr}}">
                  <div class="clr-item"><!--{{clr.name}}--></div>
                </set-colour>
              </li>
            </ul>

            <h3>Goal colour:</h3>
            <div class="clr-item width-45 repeated" update-colour cell-name="goal"></div>

          </div>

          <button data-remodal-action="confirm" class="remodal-confirm" ng-click="nextRound()">OK</button>
        </div>

        <div class="remodal" data-remodal-id="end-of-game" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" data-remodal-options="closeOnOutsideClick: false, closeOnEscape: false">
          <!-- <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button> -->

          <div class="result">
            <h3>Your total {{getTotalScore()}}</h3>
          </div>

          <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
        </div>
        <!-- <div class="row">
          <div class="twelve columns align-center">
          </div>
        </div> -->

        <div class="row">
          <div class="twelve columns align-center">
            <h3>Mix <span class="white larger-text">{{getCurrentCount()}}</span> colours to match the colour below</h3>
            <h5>Level {{getCurrentLevelName()}}</h5>
            <ul class="clr-list">
              <li ng-repeat="clr in colours" class="repeated">
                <set-colour rgb="{{clr}}">
                  <div class="clr-item" ng-class="{'highlight': clr.isSelected}" ng-click="addColour(clr)">
                    <!--<span>{{clr.name}}</span>-->
                  </div>
                </set-colour>
              </li>
            </ul>

            <h3>Selected</h3>
            <ul class="clr-list">
              <li ng-repeat="clr in selectedColours" class="repeated">
                <set-colour rgb="{{clr}}">
                  <div class="clr-item">
                    <!--{{clr.name}}-->
                  </div>
                </set-colour>
              </li>
            </ul>

            <h3>Mixed output</h3>
            <div class="clr-item mix width-45 repeated" update-colour cell-name="mix"></div>
            <!--<div ng-if="isRoundComplete()" class="result">
                <h3 ng-if="isCorrect()">Correct</h3>
                <h3 ng-if="!isCorrect()">Wrong</h3>
                  <ul class="clr-list">
                    <li ng-repeat="clr in generatedColours" class="repeated">
                      <set-colour rgb="{{clr}}">
                        <div class="clr-item">{{clr.name}}</div>
                      </set-colour>
                    </li>
                  </ul>
                </div>
            -->
            <h3>Goal colour</h3>
            <div class="clr-item width-45" update-colour cell-name="goal">&nbsp;</div>
            <!-- <button ng-click="initBoard()" class="width-45 button-text">reset</button> -->
          </div>
        </div>

      </div>
  </div>

    <!-- scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./js/snabbt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>

    <!--
    <script src="bower_components/lodash/lodash.js"></script>
    -->
    <script src="./js/bundled.js"></script>
  </body>
</html>